/* // X-Small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

.traits_menu_nav {
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-wrap: wrap;
  height: 90px;
  margin-bottom: 2rem;

  max-width: 500px;
  align-self: center;
}

.traits_menu_link {
  display: block;
  cursor: pointer;
  flex: 1 1 30px;
  height: auto;
  width: 33%;
  text-align: left;

  letter-spacing: 0.08rem;
  font-family:
    var(--font-tempo_standard),
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: var(--grey);
}

.traits_menu_link:hover,
.traits_menu_link:active {
  color: var(--orange);
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .traits_menu_nav {
    height: 130px;
    padding: 0.5rem 3rem;
  }
  .traits_menu_link {
    width: 30%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .traits_menu_nav {
    height: 135px;
    padding: 0.5rem 3rem;
  }
  .traits_menu_link {
    width: 20%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .traits_menu_nav {
    height: 135px;
    padding: 0.5rem 3rem;
  }
  .traits_menu_link {
    width: 14%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
