.blockquote {
  font-family: var(--font-tempo_heavy);
  color: var(--grey);
  padding: 1rem 32px 1rem 72px;
  border-left: 10px solid var(--orange);

  position: relative;
  font-size: var(--fs-quote);
  margin: 1.75rem 0;
  line-height: calc(1em + 0.5ex);
}

.blockquote::before {
  font-family: Arial;
  content: '\201C';
  color: var(--orange);
  font-size: clamp(3.75rem, 3.437rem + 1.56vw, 4.688rem);
  position: absolute;
  left: 34px;
  top: 16px;
}

.blockquote::after {
  content: '';
}

.blockquote span {
  display: block;
  /* margin-top: 0.5em; */
  font-size: var(--fs-md);
}
