.header {
  margin-bottom: 14rem;
  max-width: 1220px;

  background-color: var(--white);
  border-top: solid 10px var(--orange);
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 1.5rem 2rem 2rem;
  font-family: var(--font-tempo_standard);
}

.logo_link {
  margin-top: 1rem;
}

.translation_switcher {
  text-transform: uppercase;
}

.translation_switcher strong {
  color: var(--orange);
  margin-right: 2rem;
}

.translation_switcher span {
  margin-right: 2rem;
}
