.header {
  margin-bottom: 14rem;
  max-width: 1220px;
  padding: 0 2rem;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 1.5rem 0rem;
}

.logo_link {
  margin-top: 1rem;
}
