/* // X-Small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

/* // https://louisem.com/445350/white-hex-codes#green */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --white: hsla(45, 29%, 97%, 1); /* #faf9f6 */
  --grey: hsla(0, 0%, 20%, 1); /* #333333 */
  --orange: hsla(5, 100%, 34%, 1) /* #ad0e00 */;
  --light-grey: hsla(0, 0%, 20%, 0.3) /*#555555*/;
}

/* https://www.fluid-type-scale.com/ and  https://blog.logrocket.com/fluid-vs-responsive-typography-css-clamp/ */
/* Fluid font size variables, for browsers that support clamp */

/**** FOR MINI SCREENS 320px -359px ****/
:root {
  --fs-sm: 10px;
  --fs-base: 18px;
  --fs-md: 22px;
  --fs-lg: 26px;
  --fs-xl: 28px;
  --fs-quote: 22px;
}

@media (min-width: 360px) {
  @supports (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --fs-sm: clamp(0.75rem, 0.4286rem + 1.4286vw, 1rem); /* 12px - 16px*/
      --fs-base: clamp(1.25rem, 0.9286rem + 1.4286vw, 1.5rem); /* 20px - 24px */
      --fs-md: clamp(1.5rem, 0.8571rem + 2.8571vw, 2rem); /* 24px - 32px */
      --fs-lg: clamp(1.75rem, 1.1071rem + 2.8571vw, 2.25rem); /* 28px - 36px */
      --fs-xl: clamp(2rem, 1.3571rem + 2.8571vw, 2.5rem); /* 32px - 40px */
      --fs-quote: clamp(1.5rem, 0.8571rem + 2.8571vw, 2rem); /* 24px - 32px */
    }
  }
  /* Fallback variables for browsers that don't support clamp */
  @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --fs-sm: 0.75rem; /* 12px */
      --fs-base: 1.25rem; /* 20px */
      --fs-md: 1.5rem; /* 24px */
      --fs-lg: 1.75rem; /* 28rem */
      --fs-xl: 2rem; /* 32rem */
      --fs-quote: 1.5rem; /* 24px */
    }
    @media screen and (min-width: 1280px) {
      :root {
        --fs-sm: 1rem; /* 16rem */
        --fs-base: 1.5rem; /* 24px */
        --fs-md: 2rem; /* 32rem */
        --fs-lg: 2.25rem; /* 36rem */
        --fs-xl: 2.5rem; /* 40rem */
        --fs-quote: 2rem; /* 32rem */
      }
    }
  }
}

/* https://github.com/vercel/next.js/issues/44295#issuecomment-1588648799 */
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: var(--font-frank_ruhl_libre), serif;
  margin: 0;
  font-size: var(--fs-base);
  line-height: 22px;
  background-color: var(--white);
  color: var(--grey);
}

@media (min-width: 360px) {
  body {
    line-height: clamp(1.5rem, 2.856vw + 0.857rem, 2rem); /* 24px - 32px */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    var(--font-tempo_standard),
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

h1 {
  font-size: var(--fs-xl);
  /* https://css-typography-line-height.netlify.app/ Josh Comeau */
  line-height: calc(1em + 0.5rem);
  margin-bottom: 2rem;
  letter-spacing: 0.03rem;
}
h2 {
  font-size: var(--fs-lg);
  line-height: calc(1em + 0.5rem);
  margin-bottom: 1.5rem;
  letter-spacing: 0.03rem;
}
h3 {
  font-size: var(--fs-md);
  line-height: calc(1em + 0.5rem);
}

h4,
h5,
h6 {
  font-size: var(--fs-base);
  line-height: clamp(1.5rem, 2.856vw + 0.857rem, 2rem); /* 24px - 32px */
}

a {
  text-decoration: none;
  color: var(--orange);
}
p {
  margin-bottom: 1.5rem;
}

h1 + p {
  margin-bottom: 3rem;
}
/* https://css-tricks.com/almanac/properties/l/list-style/*/
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

/* https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */

.sr_only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
.sr_only_focusable:focus,
.sr_only_focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
