.content {
  padding: 0 1rem;
  background-color: var(--white-bg-color);
  color: var(--grey-font-color);
  max-width: 640px;
  align-self: center;
}

.content_inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .content {
    padding: 0 2rem;
  }
}
