.content {
  grid-area: content;
  padding: 2rem 0.75rem;
  background-color: var(--white-bg-color);
  color: var(--grey-font-color);
}

.content_inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
