.translation_switcher {
  text-transform: uppercase;
}

.translation_switcher strong {
  color: var(--orange);
  margin-right: 2rem;
}

.translation_switcher span {
  margin-right: 2rem;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .translation_switcher {
    display: flex;
  }
}
